<template>
    <div class="header">
        <div class="wrapper">
            <a href="" class=" burger"  id="menu-btn-toggle ${display1 ? 'active' : ''}"  click.delegate="toggle1()" ><span></span></a>
            <div class="caption-page">${header_name}</div>
            <a  route-href="route: home" class="all-company"></a>
        </div>
    </div>
    <!--<a href="#" id="menu-btn-toggle" class=""></a>-->
    <div id="overlay" class="${display1 ? 'active' : ''}" click.delegate="toggle1()"> </div>
    <div id="myPanelDefault" class="${display1 ? 'active' : ''}"  >
        <ul class="style_menu "  style="display: block; margin-top: 0; margin-bottom: 0" >
            <a href="#" class="close" click.delegate="toggle1()"></a>
            <span class="user_name">Tiffany Henderson</span>
            <li>
                <a route-href="route: index">Главная страница</a>
            </li>
            <li>
                <a route-href="route: about">О нас</a>
            </li>
            <li>
                <a route-href="route: platform">Кампании</a>
            </li>
            <li>
                <a route-href="route: news">Новости платформы</a>
            </li>
            <li>
                <a route-href="route: faq" >Частые вопросы</a>
            </li>
            <li>
                <a class="last_item-menu" route-href="route: index">Выйти</a>
            </li>
        </ul>
    </div>


    <div class="main">
        <div class="wrapper">
            <div class="top_layout">
                <div class="wrap_platform">
                    <h1>Акции и Платформы</h1>
                    <div class="wrapper">
                        <div class="wrap_form">
                            <div class="form_search">
                                <input type="text" name="search" class="search" placeholder="Enter filter text" value.bind="filters[0].value">
                                <button type="submit" ></button>
                            </div>
                        </div>
                        <div class="wrapper">
                            <span class="description-text">Поиск по ключевому слову</span>
                            <div class="donate-filters">
                                <div class="filter-wrapper" click.delegate="toggle2()">
                                    <div class="filter-head link">
                                        <div class="filter-text" >Категория</div>
                                        <div class="filter-arrow"></div>
                                    </div>
                                    <select class="filter-list ${display2 ? 'active' : ''} " value.bind="filters[1].value">
                                        <option repeat.for="category1 of eyeColors" model.bind="category1">
                                                ${category1}
                                        </option>
                                    </select>
                                </div>

                                <div class="filter-wrapper" click.delegate="toggle3()">
                                    <div class="filter-head link">
                                        <div class="filter-text" >Тип</div>
                                        <div class="filter-arrow"></div>
                                    </div>
                                    <div class="filter-default">Тип</div>
                                    <ul class="filter-list ${display3 ? 'active' : ''}" >
                                        <li>
                                            <a href="http://super.tabletochki.org/ru/campaigns" title="Все">
                                                Все                </a>
                                        </li>
                                        <li>
                                            <a href="http://super.tabletochki.org/ru/campaigns?type=private" title="Приватная">
                                                Приватная
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://super.tabletochki.org/ru/campaigns?type=corporate" title="Корпоративная">
                                                Корпоративная
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="wrap_platform" aurelia-table="data.bind: list; display-data.bind: $displayData; filters.bind: filters">
                                <a route-href="route: one_platform; params.bind: {id:platforms.id}" class="wrap_item-platform" repeat.for="platforms of $displayData"   >

                                    <img src="http://tabletapp.nwdev.net${platforms.image}">
                                    <h3 innerHTML.bind="platforms.name "></h3>
                                    <p innerHTML.bind="platforms.target | sanitizeHTML "></p>
                                </a>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <h3>Мы в соц. сетях</h3>
        <div class="wrap_share">
            <ul>
                <li>
                    <a href="http://twitter.com/tabletochki"></a>
                </li>
                <li>
                    <a href="https://vk.com/tabletochkiorg"></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/tabletochki/ "></a>
                </li>
                <li>
                    <a href="https://instagram.com/tabletochki_official/"></a>
                </li>
            </ul>
        </div>
    </div>

</template>