.wrap_main-page{
    background: url("../src/assets/img/bg1.png") no-repeat center center;
    background-size: cover;
    height: 100%;
}
body, html{
    height: 100%;
}
.main-page{

}
.main-page img{
    margin: 0 auto;
    padding-top: 64px;
    display: block;

}
.main-page h3{
    color: #063b4f;
    font-family: PlumbBlack;
    line-height: 20px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 35px;
    text-align: center;
}
.main-page p{
    color: #063b4f;
    font-family: PlumbCondensed-Regular;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.main-page .anonim{
    color: #ffffff;
    font-family: PlumbCondensed-Regular;
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin: 0 auto;
    margin-top: 115px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 14px;
    width: 230px;
    border-radius: 20px;
    border: 1px solid #053344;
    background-color: #063b4f;
    color: #fff;
    text-decoration: none;
}
.main-page h6 a{
    color: #063b4f;
    font-family: PlumbBlack;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
}
.main-page h6{
    color: #063b4f;
    font-family: PlumbCondensed-Regular;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}
