.tabs {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 10px;
}
.tabs label {
    padding: 5px 19px 7px 19px;
    border-radius: 110px;
    border: 1px solid #053344;
    background-color: #063b4f;
    position: relative;
    top: 2px;
    text-align: center;
    color: #ffffff;
    font-family: PlumbCondensed-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 44px;
    cursor: pointer;
}

.tabs input {
    position: absolute;
    left: -9999px;
}

#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2,
#tab_3:checked  ~ #tab_l3 {
    background: #fff;
    border-color: #fff;
    top: 0;
    z-index: 3;
}

.tabs_cont {

    position: relative;
    z-index: 2;
    min-height: 230px;
}
.tabs .swiper-container {
    min-height: 60px;
}

.tabs_cont > div {
    position: absolute;
    left: -9999px;
    top: 0;
    opacity: 0;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3 {
    position: static;
    left: 0;
    opacity: 1;
}
.desc img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.desc div{
    color: #063b4f;
    font-family: MullerLight;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
}

.wrap-help h3{
    color: #063b4f;
    font-family: PlumbCondensed-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 14px;
}
.help{
    padding-top: 10px;
    padding-bottom: 10px;
}
.help h4, .help span{
    color: #063b4f;
    font-family: MullerLight;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    float: left;

}
.help span{
    position: relative;
    float: right;
}
.help span:before{
   content: '';
    background: url("../src/assets/img/card.png") no-repeat;
    height: 16px;
    width: 23px;
    position: absolute;
    top:0;
    left: -45px;


}
.wrap-donat input{
    position: relative!important;
    left: auto;
}
