<template>
    <div class="wrap_main-page">
        <div class="sign_in">
            <img src="src/assets/img/logo-main.png">
            <form action="#" method="post">
                <input type="email" name="email" placeholder="E-mail">
                <input type="password" name="password" placeholder="Пароль">
                <a route-href="route: index" class="forgot_password">Забыли пароль?</a>
                <input type="submit" value="Авторизироваться">
            </form>
            <div class="wrap_registr-anonim clearfix">
                <a route-href="route: about">Регистрация</a>
                <a route-href="route: about">Анонимно</a>
            </div>
        </div>
    </div>
</template>